.place__paragraph {
  grid-area: place__paragraph;
  font-family: 'inter', 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 29px;
}

@media screen and (max-width: 560px) {
  .place__paragraph {
   margin: 0 16px;
  }
}

