.footer__copyright {
  font-family: 'inter', 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin-top: 0;
}

@media screen and (max-width: 560px) {
  .footer__copyright {
    margin-bottom: 24px;
    margin-top: 16px;
    }
  }
