.cover {
  margin: 90px 48px 0 48px;

}

@media screen and (max-width: 1120px) {
  .cover {
    margin: 92px 0 0;
  }
}

@media screen and (max-width: 960px) {
  .cover {
    margin: 64px 0 0;
  }
}
@media screen and (max-width: 560px) {
  .cover {
    margin: 40px 0 0;
  }
}