.intro__title {
  font-family: 'inter', 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 540px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}